<!DOCTYPE html>
<html>
<head>
  <title>File Metadata Microservice</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <p>Submit a file to view its filesize.</p>

    <form action="/get-file-size" method="post" enctype="multipart/form-data">
      <input type="file" name="file">
      <input type="submit">
    </form>

    <br /><br />
    <a href="https://github.com/wildlifehexagon/file-metadata-microservice" target="_blank">GitHub Code</a>
</body>
</html>
